.back {
    background-color: orange;
    display: flex;
    
}

.imglo {
    width: 15em;
}

.login {
    border: black 2px solid;
    width: 10em;
}

.register {
    border: black 2px solid;
    width: 10em;
}

.menu {
    background-color: black;
    align-content: center;
}

.cont {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bot {
    margin: 50px;
}

 .inf_h {
    background-color: rgb(168, 164, 164);
    padding: 100px 200px 100px 200px;
    align-content: center;
}
