.back {
    background-color: orange;

}

.cont {
    display: flex;
    justify-content: center;
    width: 100%;
    background-image: url("../img/tren-rodalies-generalitat-catalunya_thumb_620.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.navegacion {

    display: block;
}

.opci {
    display: flex;
}

.imglo {
    width: 15em;
}

.login {
    width: 15em;
    align-content: center;
    justify-content: center;
    display: flex;
    border-radius: 10%;
    background-size: cover;
    padding: 50px 100px 50px 100px;
    align-content: center;
    border-radius: 10%;

}

.register {

    width: 15em;
    align-content: center;
    justify-content: center;
    display: flex;
    border-radius: 10%;
    background-size: cover;
}


.menu {
    background-color: black;
    align-content: center;
}

.cont {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bot {
    margin: 50px;
}

.inf_h {
    display: flex;
    background-color: rgba(255, 166, 0, 0.719);
    padding: 50px 100px 50px 100px;
    align-content: center;
    border-radius: 10%;
}