
.back {
    background-color: orange;
    box-sizing: border-box;
}

.cont {
    display: flex;
    justify-content: center;
    width: 100%;
    background-image: url("../img/tren-rodalies-generalitat-catalunya_thumb_620.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 50px 10px;
    align-items: center;
    flex-direction: column;
}


.navegacion {

    display: block;
    
}

.opci {
    display: flex;
}

.opci button {

    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-size: 1, 75em;

}

.imglo {
    width: 15em;
}

.login {
    width: 15em;
    align-content: center;
    justify-content: center;
    display: flex;
    background-size: cover;
    padding: 50px 100px 50px 100px;
    align-content: center;
    border-radius: 10%;
    background-color:  rgba(255, 166, 0, 0.719);

}

.register {
    background-color: rgba(255, 166, 0, 0.719);
    width: 15em;
    align-content: center;
    justify-content: center;
    display: flex;
    border-radius: 10%;
    background-size: cover;
    padding: 50px 100px 50px 100px;

}


.menu {
    background-color: black;
    align-content: center;
}


.bot {
    margin: 50px;
}

.inf_h {
    display: flex;
    background-color: rgba(255, 166, 0, 0.719);
    padding: 50px 100px 50px 100px;
    align-content: center;
    border-radius: 10%;
}
.destacat_icones{
background-color: none;
}
.list-group-item {
    background-color: orange !important;
    text-decoration: none !important;
    list-style: none !important;

}
.list-group-item p{

    font-size: 15px !important;
}